body{
    font-family: 'Noto Sans TC', sans-serif !important; 
}
.hoverLink{
    text-decoration: underline;
}
.hoverLink:hover{
    text-decoration: none;
}
.border-round-20{
    border-radius: 20px;
    overflow: hidden;
}
.text-hlcolor-blue{
    color: #0E6EB8;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.37em;
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #0000001f;
}
.separator:not(:empty)::before {
    margin-right: .5em;
}
.separator:not(:empty)::after {
    margin-left: .5em;
}

#navbarNav ul li .nav-link{
    color: #6ea8d4;
}
#navbarNav ul li .nav-link:hover{
    color: #316cb3;
}
#category-list{
    background-color: #0E6EB8;
    color: white;
}
#category-list li a{
    color: white;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#category-list li a:hover{
    background-color: #6ea8d4;
    color: white;
}
@media (min-width: 992px) {
    #category-list {
        left: -13px;
    }
}