body{
    font-family: 'Noto Sans TC', sans-serif;
}
.hoverLink{
    text-decoration: underline;
}
.hoverLink:hover{
    text-decoration: none;
}
.border-round-20{
    border-radius: 20px;
    overflow: hidden;
}
.text-hlcolor-blue{
    color: #0E6EB8;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.37em;
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #0000001f;
}
.separator:not(:empty)::before {
    margin-right: .5em;
}
.separator:not(:empty)::after {
    margin-left: .5em;
}